html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
h2, h3 {
	text-align: center;
	border-bottom: 1px solid #999;
}
a {
	text-decoration: none;
}
#main_menu {
	background-color: #c00;
	color: #fff;
	padding: 0;
}
.menu_item {
	color: #fff;
	display: inline-block;
	font-weight: bold;
	padding: 0.25em 1em;
}
.menu_item:hover {
	background-color: #300;
	color: #f00;
}
.sub_menu {
	background-color: #600;
	color: #fff;
	display: none;
	position: absolute;
	width: 100%;
}
.sub_menu_item {
	color: #fff;
	display: inline-block;
	padding: 0.25em 1em;
}
#main_table {
	border-collapse: collapse;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}
#main_table td {
	margin: 0;
	vertical-align: top;
}
#tree_view_td {
	height: 100%;
	width: 150px;
}
#svg_td {
	border-color: #000;
	border-style: solid;
	border-width: 0 1px;
	height: 100%;
	overflow: hidden;
}
#keyed_properties {
	height: 100%;
	width: 150px;
}
#timeline {
	border-top: 3px double #000;
}
#the_svg {
	height: 100%;
	width: 100%;
}
#attribute_selector {
	border-top: 3px double #000;
	margin-top: 1em;
}
#popup_layer {
	display: none;
	background-image: url('img/trans_black.png');
	height: 100%;
	position: absolute;
	width: 100%;
}
.popup {
	border: 6px double #600;
	background-color: #fff;
	margin: 100px auto;
	padding: 2em;
	width: 400px;
}
.node_child {
	border: 1px solid #999;
	display: none;
	margin: 1px;
	padding: 2px;
}
.node_expander {
	color: #c00;
	font-weight: bold;
}
.attribute {
	border-bottom: 1px solid #999;
	margin-bottom: 6px;
	padding-bottom: 2px;
}
.attribute input {
	margin-top: 2px;
}